

.AuthorChoose{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: solid 5px purple;
    border-radius: 1.5em;
    background-color: purple;
}
.AuthorTitles{
    list-style: none;
    text-decoration-line: underline;
    font-size: 1.5em;
}

.AuthorLabelText{
    font-size: 25px;
    margin: auto;
}
select{
    height: 2em;
    border-radius: 1.5em;
}