button{
    background-color:orange;
    padding:1.3em;
    border-radius: 0.6em;
    margin: auto;
}

.QuoteBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}
p{
    text-align: center;
    font-size: 2em;
}

section{
    border: 0.5em solid;
    background-color: green;
    margin-bottom: 1em;

}